force-app/main/default/flows/Convert_Enquiry_to_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>67.0</apiVersion>
    <assignments>
        <name>Assign_Care_Plan_Queue</name>
        <label>Assign Care Plan Queue</label>
        <locationX>176</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>queueId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Care_Plan_Queue.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_General_Queue</name>
        <label>Assign General Queue</label>
        <locationX>440</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>queueId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_General_Queue.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Case</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choice_High</name>
        <choiceText>High</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>High</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_Low</name>
        <choiceText>Low</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Low</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_Medium</name>
        <choiceText>Medium</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Medium</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Enquiry_Type</name>
        <label>Check Enquiry Type</label>
        <locationX>308</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>Assign_General_Queue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Product Enquiry</defaultConnectorLabel>
        <rules>
            <name>Is_Care_Plan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Enquiry.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Care_Plan_RT.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Care_Plan_Queue</targetReference>
            </connector>
            <label>Is Care Plan</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>finalOwnerId</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!queueId}), {!Get_Enquiry.OwnerId}, {!queueId})</expression>
    </formulas>
    <interviewLabel>Convert Enquiry to Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Convert Enquiry to Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_Case</name>
        <label>Create Case</label>
        <locationX>308</locationX>
        <locationY>1118</locationY>
        <assignRecordIdToReference>newCaseId</assignRecordIdToReference>
        <connector>
            <targetReference>Close_Enquiry</targetReference>
        </connector>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Get_Enquiry.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Find_Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority_Selection</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Case_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Internal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>finalOwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Find_Contact</name>
        <label>Find Contact by Email</label>
        <locationX>308</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Care_Plan_RT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Enquiry.Email_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Care_Plan_Queue</name>
        <label>Get Care Plan Support Queue</label>
        <locationX>308</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_General_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Care_Plan_Support</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Care_Plan_RT</name>
        <label>Get Care Plan Record Type</label>
        <locationX>308</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Care_Plan_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Enquiry__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Care_Plan_Enquiry</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Created_Case</name>
        <label>Get Created Case</label>
        <locationX>308</locationX>
        <locationY>1358</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>newCaseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Enquiry</name>
        <label>Get Enquiry</label>
        <locationX>308</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Enquiry__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_General_Queue</name>
        <label>Get General Support Queue</label>
        <locationX>308</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Enquiry_Details_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>General_Support</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Close_Enquiry</name>
        <label>Close Enquiry</label>
        <locationX>308</locationX>
        <locationY>1238</locationY>
        <connector>
            <targetReference>Get_Created_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Enquiry__c</object>
    </recordUpdates>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation</label>
        <locationX>308</locationX>
        <locationY>1478</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Confirmation_Text</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Case created successfully!&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Case Number:&lt;/b&gt; {!Get_Created_Case.CaseNumber}&lt;/p&gt;&lt;p&gt;The Enquiry has been marked as Closed.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enquiry_Details_Screen</name>
        <label>Convert Enquiry to Case</label>
        <locationX>308</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Enquiry_Type</targetReference>
        </connector>
        <fields>
            <name>Enquiry_Info</name>
            <fieldText>&lt;p&gt;You are converting this enquiry to a Case:&lt;/p&gt;&lt;p&gt;&lt;b&gt;Enquiry:&lt;/b&gt; {!Get_Enquiry.Name}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Customer:&lt;/b&gt; {!Get_Enquiry.Customer_Name__c}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Email:&lt;/b&gt; {!Get_Enquiry.Email_ID__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Priority_Selection</name>
            <choiceReferences>choice_High</choiceReferences>
            <choiceReferences>choice_Medium</choiceReferences>
            <choiceReferences>choice_Low</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>choice_Medium</elementReference>
            </defaultValue>
            <fieldText>Case Priority</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Case_Description</name>
            <fieldText>Brief Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>182</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Enquiry</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>newCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>queueId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
